ll_env/
db.sqlite3
*.sqlite3
.vscode
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# enviroment variables
.env
.idea

#workspace
learning_log.code-workspace