{% extends 'topics/base.html' %}
{% load bootstrap5 %}
 {% block title %}Log In{% endblock title %}
{%block content %}
  {% if form.errors %}
    <p>Your username and password didn't match</p>
  {% endif %}
<form action="{% url 'users:login' %}" method="post">
  <div class="container pt-3">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% bootstrap_button "Log In" button_type="submit" button_class="btn-primary" %}
    <input type="hidden" name="next" value="{% url 'topics:topics_list' %}" />
  </div>

</form>

{% endblock content %}
